<?xml version="1.0"?>
<config>
    <modules>
        <Smartwave_Ajaxcart>
            <version>1.0.1</version>
        </Smartwave_Ajaxcart>
    </modules>
    <frontend>
        <layout>
            <updates>
                <smartwave_ajaxcart module="smartwave_ajaxcart">
                    <file>smartwave_ajaxcart.xml</file>
                </smartwave_ajaxcart>
            </updates>
        </layout>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Smartwave_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
		<events>
           <core_block_abstract_prepare_layout_before>
               <observers>
                   <smartwave_ajaxcart_prepare_layout_before>
                       <class>ajaxcart/observer</class>
                       <method>prepareLayoutBefore</method>
                   </smartwave_ajaxcart_prepare_layout_before>
               </observers>
           </core_block_abstract_prepare_layout_before>
		</events>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
								<children>
									<config>
										<children>
											<ajaxcart translate="title" module="ajaxcart">
												<title>Smartwave Ajax Cart</title>
											</ajaxcart>
										</children>
									</config>
								</children>
							</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<default>
		<ajaxcart>
			<general>
				<custom_css><![CDATA[#loading-mask { display: none; font-size: 1.1em; font-weight: bold; position: fixed; text-align: center; z-index: 20002; width: 100%; height: 100%; left: 0; top: 0; }
#after-loading-success-message { display:none;  font-size: 1.1em; position: fixed; text-align: center; z-index: 20002; width: 100%;height: 100%; left: 0; top: 0;}
#success-message-container { padding:15px 30px 30px; line-height: 1.4; position:relative; text-align:center; top:35%; width:303px; z-index:1000; background:#FFFFFF none repeat scroll 0 0; margin: auto; }]]></custom_css>
			</general>
			<addtocart>
                <autoclose>5</autoclose>
				<enablecategory>0</enablecategory>
				<enableproduct>0</enableproduct>
			</addtocart>
			<addtolinks>
				<enablecategory>0</enablecategory>
				<enableproduct>0</enableproduct>
			</addtolinks>
		</ajaxcart>
	 </default>	
    <global>
        <models>
            <ajaxcart>
                <class>Smartwave_Ajaxcart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </ajaxcart>
            <ajaxcart_mysql4>
                <class>Smartwave_Ajaxcart_Model_Mysql4</class>
                <entities>
                    <ajaxsuite>
                        <table>ajaxsuite</table>
                    </ajaxsuite>
                </entities>
            </ajaxcart_mysql4>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Smartwave_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>Smartwave_Ajaxcart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Smartwave_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
</config>